@import url('button.css');

.banner {
  background-image: url('../../images/cat_background.jpg');
  filter: opacity(93%);
  background-size: cover;
  background-position: calc(100%) calc(100% + 200px);
  padding: 220px 0;
  height: 50vh;
}

.hero-container {
  color: white;
  width: 1000px;
  margin: auto;
  margin-right: 150px;
}

.hero-container p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
